.about-container {
    margin: 0 50px;
    position: relative;
    padding-top: 5%;

    

    .name {
        /*text-shadow: 3px 3px 5px #fff;*/
        font-size: 3rem;
    }
    .description-container {
        font-size: 2rem;
    }
}
.img{
    width: 16px;
    position: absolute;
    border-radius: 15%;
}
.text-about {
    flex: auto;
    border-radius: 13%;
    text-align: left;

    .title {
        text-align: left;
    }
}
.presentation {
    .socials{
        i{
            width: 60px;
            height: 50px;
        }
    }
}