<div class="experience-container row">
    <div class="d-flex flex wrap">
        <img [src]=experienceData.urlImage class="img-experience img-fluid" alt="experience image" width="250">
        <div class="text-experience d-flex flex-column justify-content-center">
            <h5>{{ experienceData.title }}</h5>
            <p class="experience-subDescription">{{ experienceData.subDescription }}</p>
            <p class="experience-description">{{ experienceData.description }}</p>
            <a href=""><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>